@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:wght@600;800&display=swap');
/* ..............css root variables */
:root{
--color-white:#ffffff;
--color-light:#f0eff5;
--color-gray-light:#86848c;
--color-gray-dark:#56555e;
--color-dark:#27282f;
--color-primary:rgb(71,7,234);
--color-success:rgb(34,202,75);
--color-danger: rgb(255,67,54);
--color-warning:rgb(234,181,7);
--color-purple:rgb(160,99,245);

--color-primary-light:rgba(71,7,234,0.2);
--color-success-light:rgba(34,202,75,0.2);
--color-danger-light:rgba(255,67,54,0.2);
--color-purple-light:rgba(160,99,245,0.2);

--card-padding:1.6rem;
--padding-1:1rem;
--padding-2:8px;

--card-border-radius:1.6rem;
--border-radius-1:1rem;
--border-radius-2:6px;
}
/* dark theme  */
.dark-theme{
    --color-white: #131316;
    --color-light: #23232a;
    --color-dark: #ddd;
    --color-gray-dark: #adacb5;

}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
list-style: none;
text-decoration: none;
font-family: Averia Serif Libre ;
text-transform: capitalize;
}
body{
    background: var(--color-light);
    font-family: Averia Serif Libre ;
    min-height: 100vh;
    width: 100%;
    color: var(--color-dark);
}
button{
    background: transparent;
    border: none;
}
img{
    width: 100%;
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.86rem;
    font-weight: 500;
}
h6{
    font-size: 0.76rem;
}
p{
    font-size: 0.86rem;
    color: var(--color-gray-dark);
}
small{
    font-weight: 300;
    font-size: 0.77rem;
}
.text-muted{
    color: var(--color-gray-light);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.purple{
    color: var(--color-purple);
}
.bg-primary{
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}
.bg-danger{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);

}
.bg-success{
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);

}
.bg-purple{
    background: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light)
}
.bg-dark{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}
.bg-purple-light{
    background: var(--color-purple-light);
}
.bg-danger-light{
    background: var(--color-danger-light);
}
.bg-primary-light{
    background: var(--color-primary-light);
}
.bg-success-light{
    background: var(--color-success-light);
}
nav{
    width: 100%;
    background: var(--color-white);
    padding: 1rem 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    position: relative;
    margin: 0 auto;
}
nav .container img{
    width: 7rem;
}
nav .container .search{
    display: flex;
    align-items: center;
    background: var(--color-light);
    padding: var(--padding-2) var(--card-padding);
    gap: 1rem;
    color: var(--color-gray-light);
    border-radius: var(--border-radius-2);
    width: 50%;
}
nav .search input[type='search']{
    color: var(--color-dark);
    background: transparent;
    width: 100%;
    border: none;
}
nav .search input::placeholder { 
    color: var(--color-gray-light);
    text-transform: capitalize;
}
nav .profile-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}
nav .profile-area .theme-btn{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background: var(--color-light);
    width: 5rem;
    height: 2rem;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}
nav .profile-area .theme-btn span{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}
nav .profile-area  .theme-btn  .active{
    background: var(--color-dark);
    border-radius: var(--border-radius-2);
    color: var(--color-white);
}
nav .profile-area .profile{
    display: flex;
    gap: 1rem;
    align-items: center;
}
nav  .profile-area .profile-photo{
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
nav  .profile-area button{
    display: none;
}
 /* end  of nav bar */
 main{
     display: flex;
     /* justify-content: space-evenly; */
    width: 96%;
    gap: 2rem;
    margin: 1rem auto 4rem;
    /* border: #131316 solid; */
}
main aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 88vh; */
    width: 250px;
 }
 main aside button{
    display: none;
 }
 main aside  .sidebar a{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);
    position: relative;
 }
 main aside .sidebar a span{
    font-size: 1.7rem;
    margin-left: 3rem;
    transition: all 300ms ease;
 
 }
 main aside .sidebar a.active{
   background: var(--color-white);
   color: var(--color-primary);
 }
 main aside  .sidebar  a.active::before{
    content: ' ';
    width:6px;
    height: 100%;
    background: var(--color-primary);
    position: absolute;
 }
 aside .sidebar a:hover{
    color:var(--color-primary);
 }
 aside .sidebar a:hover span{
    margin-left: 2rem;
 }
 main aside .sidebar h4{
    font-weight: 500;
 }
 main aside .updates{
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    text-align: center;
    padding: var(--card-padding);
 }
 main aside .updates  span{
    font-size: 2.8rem;
 }
 main aside .updates a{
    display: block;
    width: 100%;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: 0.8rem 0;
    margin-top:2rem;
    transition: all 300ms ease;
 }
 main aside .updates a:hover {
    box-shadow: 0 9rem 2rem var(--color-primary-light);
 }
 /* .................main2................... */
 main .main2{
     display: flex;
     gap: 2rem;
     /* width: calc(100%-200px); */
     /* border: solid red; */
     width: 100%;
 }
main .main2 #middle{
    width: 60%;
    /* border: #131316 solid; */
}
 main .main2 #middle .header{
    display: flex;
    align-items: center;
    gap:1rem;
 }
 main .main2 #middle .header input[type='date']{
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    background: var(--color-white);
    color: var(--color-gray-dark);
 }
 main .main2 #middle .cards{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    gap: 1.5rem;
 }
 main .main2 #middle .cards .card{
    background: linear-gradient(#ff796f, #bd261b);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: white;
    height: 16rem;
    /* border: #27282f solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 2rem 3rem var(--color-danger-light); 
    transition: all,200ms ease;
 }
 main .main2 #middle .cards .card:nth-child(2){
    background: linear-gradient(#7f8191, #27282f);
    box-shadow: 0 2rem 3rem rgba(0, 0 , 0, 0,2);
 }
 main .main2 #middle .cards .card:nth-child(3){
    background: linear-gradient(#5d70ff, #5719c2);
    box-shadow: 0 2rem 3rem var(--color-primary-light);
 }
 main .main2 #middle .cards .card:hover{
    box-shadow: none;
 }
 main .main2 #middle .cards .card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 main .main2 #middle .cards .card .top .left{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 0.5rem;
 }
 main .main2 #middle .cards .card .top .left h2{
    font-weight: 500;
    font-size: 1.4rem;
 }
 main .main2 #middle .cards .card .top .left img {
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid white;
    padding: 0.4rem;
 }
 main .main2  #middle .card .top img.right{
    width: 3.5rem;
 }
 main .main2 #middle .card .midde{
    display: flex;
    justify-content: space-between;
 }
 main .main2 #middle .card .midde .chip img{
    width: 3.5rem !important;
 }
 main .main2 #middle .card .bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }
 main .main2 #middle .card .bottom .right{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
 }
/* .......................end of cards....................... */
main .main2 #middle .montly-reports{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
 }
 main .main2 #middle .montly-reports h1{
    font-weight: 700;
    font-size: 1.8rem;
 }
 /* .......................end of montlly....................... */
main .main2 .fast-payment{
    margin-top: 2rem;
    display: flex;
    align-self: center;
    gap: 2rem;
    width: 100%;
 }
 main .main2 .fast-payment .badges{
    display: flex;
    gap: 1rem;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100%;
 }
 main .main2 .fast-payment .badge span{
 width: 7px;
 height: 7px;
 border-radius: 50%;
 }
 main .main2 .fast-payment .badge{
    background: var(--color-white);
    padding: 0.6rem var(--card-padding);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 300ms ease;
 }
 main .main2 .fast-payment .badge:hover{
    box-shadow: 0 0 1.5rem var(--color-primary-light);
 }
 main .main2 .fast-payment .badge :nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
 }
 main .main2 .fast-payment .badge div{
    display: flex;
    gap: 2rem;
    align-items: center;
 }
 /* ...................canvassssss ....................*/
 canvas#myChart{
    background: var(--color-white);
    width: 100%;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
 }

/* ...................investments ....................*/
#right{
    width: 40%;
}
 #right .investment{
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    /* padding: var(--card-padding); */
    width: 100%;
 }
 #right .investment img{
    width: 2.4rem;
 }
 #right .investment .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    padding-bottom: 0;
 }
 #right .header a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: vat(--color-primary);
 }
 #right .investment .investments{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    border-bottom: 1px solid var(--color-light);
    transition: all 300ms ease;
 }
 #right .investment .investments:last-child{
    border: none;
 }
 #right .investment .investments:hover{
    background: var(--color-light);
    cursor: pointer;
 }
 /* ...............transaction ...................... */
 main .recent-transaction img {
    width: 2.2rem;
 }
 main .recent-transaction{
     width: 100%;
 }
 main .recent-transaction .transactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem var(--card-padding);
    border-radius: var(--card-border-radius);
    transition: all 300ms ease;
 }
 .recent-transaction .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    padding-bottom: 0;
 }
 .recent-transaction .header a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: vat(--color-primary);
 }
 main .recent-transaction .transactions:hover{
    background: var(--color-white);
    cursor: pointer;
 }
 main .recent-transaction .transactions .services {
    display: flex;
    gap: 1rem;
 }
 main .recent-transaction .transactions .services .icon{
    padding: var(--padding-2);
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
 }
 main .recent-transaction .transactions .card-detais{
    display: flex;
    align-items: center;
    gap: 1rem;
 }
 main .recent-transaction .transactions .card-detais .card{
    width: 4.6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-2);
 }

/*.............................Media queries for phones.............................. */
@media screen 
and (min-width:250px)
and (max-width:400px){
    nav .container .search{
        display: none;
     }
     nav .profile-area{
        gap: 0.8rem;
  }
  nav .profile  h5, 
nav  .profile span{
   display: none;
}

nav  .profile-area button{
   display: inline;
   color: var(--color-dark);
}
.main2 {
    /* grid-template-columns: 1fr ; */
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
 }
 main .main2 #middle{
     width: 100%;
 }
 #right{
     width: 100%;
     margin-top: 2rem;
 }
 main aside{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    background: var(--color-white);
    width: 22rem;
    height: 100vh;
    display: none;
    box-shadow: 2rem 0 2rem var(--color-primary-light);
    animation: showmenu 400ms ease forwards;
 }
 @keyframes showmenu {
    to{
        left: 0;
    }
 }
 main aside button{
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 4;
    color: var(--color-dark);
    cursor: pointer;
 }
 main aside .sidebar{
    margin-top: 4rem;
 }
 main aside .updates{
    display: none;
 }
 main .main2 #middle .cards {
    grid-template-columns:1fr ;
    width: 100%;
    
 }
 main .main2 .fast-payment{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    width: 100%;
    gap: 1.4rem;
 }
 main .main2 .fast-payment .badges{
    display: flex;
    gap: 2rem;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100%;
 }
 main .main2 #middle .montly-reports{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
 }

}






@media screen 
and (min-width:401px)
and (max-width:600px){
   nav .profile-area{
       gap: 2.6rem;
 }
 nav .container .search{
   display: none;
}
nav .profile  h5, 
nav  .profile span{
   display: none;
}

nav  .profile-area button{
   display: inline;
   color: var(--color-dark);
}
.main2 {
   /* grid-template-columns: 1fr ; */
   display: flex;
   gap: 2rem;
   flex-direction: column;
   /* width: calc(100%-200px); */
    width: 100%;
    /* border: solid red; */

}
main .main2 #middle{
    width: 100%;
    /* border: #131316 solid; */
}
#right{
    width: 100%;
}

main aside{
   position: fixed;
   top: 0;
   left: -100%;
   z-index: 3;
   background: var(--color-white);
   width: 22rem;
   height: 100vh;
   display: none;
   box-shadow: 2rem 0 2rem var(--color-primary-light);
   animation: showmenu 400ms ease forwards;
}
@keyframes showmenu {
   to{
       left: 0;
   }
}
main aside button{
   display: block;
   width: 3rem;
   height: 3rem;
   position: absolute;
   top: 1rem;
   right: 1rem;
   z-index: 4;
   color: var(--color-dark);
   cursor: pointer;
}
main aside .sidebar{
   margin-top: 4rem;
}
main aside .updates{
   display: none;
}
main .main2 #middle .cards {
   grid-template-columns:1fr ;
   width: 100%;

}
main .main2 .fast-payment{
   flex-direction: column;
   align-items: flex-start;
   margin-top: 3rem;
   gap: 1.4rem;
   width: 100%;

}
}
@media screen 
and (min-width:601px)
and (max-width:1299px){
   nav .container .search{
       display: none;
   }
   nav .profile-area{
       gap: 2rem;
   }
   nav  .profile-area button{
       display: inline;
       color: var(--color-dark);
   }
   .main2 {
    /* grid-template-columns: 1fr ; */
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* width: calc(100%-200px); */
    /* border: solid red; */
 }
 main .main2 #middle{
     width: 100%;
     /* border: #131316 solid; */
 }
 #right{
     width: 100%;
 }
   main aside{
       position: fixed;
       top: 0;
       left: 0;
       z-index: 3;
       background: var(--color-white);
       width: 22rem;
       height: 100vh;
       display: none;
       box-shadow: 2rem 0 2rem var(--color-primary-light);
       animation: showmenu 500ms ease forwards;
   }
   @keyframes showmenu {
       to{
           left: 0;
       }
    }
   main aside button{
       display: block;
       width: 3rem;
       height: 3rem;
       position: absolute;
       top: 1rem;
       right: 1rem;
       z-index: 4;
       color: var(--color-dark);
       cursor: pointer;
   }
   main aside .sidebar{
       margin-top: 4rem;
   }
   main aside .updates{
       display: none;
   }
   main .main2  #middle .cards{
     grid-template-columns: 1fr 1fr;
   }
   main .main2 .fast-payment{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2rem;
 }
    canvas{
       margin:3rem 0 1rem;
   }
   main .main2 .recent-transaction {
       margin-top: 3rem;
   }
   
}
@media screen 
and (min-width:1300px)
and (max-width:1500px){
    main aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* height: 100vh; */
        width: 350px;
     }
     main aside  .sidebar a{
        display: flex;
        align-items: center;
        gap: 1.2rem;
        height: 2.2rem;
        color: var(--color-gray-light);
        position: relative;
        margin-top: 3rem;
     }
     main aside  .sidebar a:nth-child(1){
        display: flex;
        align-items: center;
        gap: 1.2rem;
        height: 4.2rem;
        color: var(--color-gray-light);
        position: relative;
        margin-top: 0rem;
     }
    main .main2{
        flex-direction: column;
    }
    main .main2 #middle{
        width: 100%;
    }
    main .main2 #right{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    main .main2 .recent-transaction{
        width: 100%;
    }
    main .main2 .investment{
        width: 100%;
    }
}


